img {
    border: 1px solid #9ff106;
    border-radius: 4px;
    padding: 5px;
    width: 750px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }


  body {
    background-color:rgb(20, 19, 19);
    background-image: url("https://i.gifer.com/2iiH.gif")
  }

  h1 { color: #81f323; font-family: 'Rouge Script', cursive; font-size: 50px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #082b34; }


h2 { color: #b1f702; font-family: 'Julius Sans One', sans-serif; font-size: 22px; font-weight: bold; line-height: 32px; margin: 0 0 24px; text-shadow: 1px 1px 1px #082b34; }


p { color: #8aec08; font-family: 'Carme', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; }


a { color: #5fee0c; text-decoration: underline; }


a:hover { color: #54e202; text-decoration: underline; }

  div.container {
    text-align: center;
  }
  
  ul.myUL {
    display: inline-block;
    text-align: left;
  }


  hr {
    border: none;
    height: 0px;
    box-shadow: 0 1px 4px 1px cornflowerblue;
  }
  
  input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
  }

  input[type=text] {
    background-color: #7f14c7;
    color: rgb(231, 22, 22);
  }

  textarea {
    width: 20%;
    height: 100px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ce0722;
    border-radius: 4px;
    background-color: #6011df;
    resize: none;
  }

  li {
    display: inline;
  }

  ul {
    border: 1px solid #555;
  }
  
  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  li:last-child {
    border-bottom: none;
  }

  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img
{
  width:300px;
  height:200px;
}
div.img img
{
 width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #9704aa;
  border: none;
  color: rgb(240, 10, 10);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button{
  padding: 12px 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(144, 4, 199, 0.363) ;
  border: 1px solid rgb(236, 4, 4);
  font-size: 15px;
 }

 button:hover{
  background-color: rgb(142, 14, 146);
  color: rgb(199, 29, 86);
 }
  